* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

/*}.glavni-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6dad8;
    color: #F8F3E7;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.container h1 {
    font-size: 2.5rem;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F3E7;
    padding: 10px 20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-bottom: 1px solid #98988a;
}

.navbar-left {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.navbar-right {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;  
    font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: #98988a;
  font-size: 20px;
  font-weight: bold;
}

.usernamee{
  cursor: pointer;
  font-size:20px;
  align-items:center;
  color: #98988a;
}

.navbar a:hover {
  text-decoration: underline;
}

.bold-text {
  text-align: center;
  font-weight: bold;
  margin-top: 35px;
  font-size: 20px;
}

.text-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-style: Sans-Serif;
}

.text-box {
  flex: 1;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-right: 1px solid #ddd;
  font-size: 16px;
  font-style: Sans-Serif;
}

.text-box:last-child {
  border-right: none;
}

.Hero, .Hero2, .Hero3, .Hero4 {
    z-index: -1;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #F1F1F2;
    text-align: center;
    position: relative;
    width: 100%;
    height: 75vh
}

.Hero{
  background-image: url('MentalHealthSlicka.jpg');
}
.Hero2{
  background-image: url('hero2.jpg');
}
.Hero3{
  background-image: url('hero3.jpg');
}
.Hero4{
  background-image: url('hedro4.jpg');
}

.Hero-content {
    background: rgb(203, 203, 184);
    padding: 20px;
    border-radius: 10px;
  }

  .Hero h1 {
    font-size: 3rem;
    margin: 0;
  }

  .Hero p {
    font-size: 3rem;
    margin: 10px 0;
  }

 .footer {
    width: 100%;
    text-align: center;
    background-color: #c6dad8;
    color: #1995AD;
    padding: 10px 0;
    justify-content: space-between;
    margin-bottom: 0;
}

 .footer p{
    margin: 0;
    font-size: 1rem;
 }

 div Kontakt :hover {
    text-decoration: underline;
}

 .foot {
    display: flex;
    justify-content: space-between;
 }

 .foot-left {
    display: flex;
    gap: 20px;
    margin-left: 20px;
 }

 .foot-right {
    display: flex;
    gap: 20px;
    margin-right: 20px;
 }